repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-docstring-first
  - id: debug-statements
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
  - id: trailing-whitespace
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-toml
    args: [--autofix, --trailing-commas]
  - id: pretty-format-yaml
    args: [--autofix]
- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v3.1.0
  hooks:
  - id: setup-cfg-fmt
    args: [--min-py-version, '3.12']
- repo: https://github.com/asottile/reorder-python-imports
  rev: v3.16.0
  hooks:
  - id: reorder-python-imports
    args: [--py312-plus, --add-import, from __future__ import annotations]
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.5
  hooks:
  - id: ruff-check
    args: [--fix]
  - id: ruff-format
- repo: https://github.com/sqlfluff/sqlfluff
  rev: 4.0.0a2
  hooks:
  - id: sqlfluff-fix
    args: [--dialect, sqlite]
- repo: https://github.com/adamtheturtle/doccmd-pre-commit
  rev: v2025.11.8.1
  hooks:
  - id: doccmd
    name: doccmd-sqlfluff
    args: [--no-pad-file, --language, sql, --command, sqlfluff fix --dialect sqlite]
    additional_dependencies: [sqlfluff]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.18.2
  hooks:
  - id: mypy
    language_version: python3.12
